<div class="container">
  <div class="d-flex justify-content-center flex-column">
    <h2 class="title-section">Quick notes about app</h2>
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">* app contains reusable loader and search (autocomplete) components</li>
        <li class="list-group-item">* loading and basic error handling is implemented via interceptors</li>
        <li class="list-group-item">* autocomplete search is getting suggestions from api</li>
        <li class="list-group-item">* list of posts is being filtered from api with enter key</li>
        <li class="list-group-item">* posts service has some unit tests for verifying requests</li>
      </ul>
    </div>
  </div>
</div>
