<section class="focus-section">
  <div class="container-lg py-5">
    <div class="d-flex justify-content-center flex-column">
      <h2 class="title-section">Quick notes about app</h2>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>*</strong> app contains reusable loader and search (autocomplete) components
          </li>
          <li class="list-group-item">
            <strong>*</strong> loading and basic error handling is implemented via interceptors
          </li>
          <li class="list-group-item"><strong>*</strong> autocomplete search is getting suggestions from api</li>
          <li class="list-group-item"><strong>*</strong> list of posts is being filtered from api with enter key</li>
          <li class="list-group-item">
            <strong>*</strong> click on post title on the list of posts opens post detail page
          </li>
          <li class="list-group-item"><strong>*</strong> posts service has unit tests for verifying requests</li>
        </ul>
      </div>
    </div>
  </div>
</section>
