.card {
  font-size: 1rem;
  border: var(--focus-border-card);

  .card-body {
    background: var(--bg-focus-card);
    color: var(--tx-focus-card);

    .card-text {
      font-weight: var(--tx-focus-font-weight);
    }
  }

  .hover-text {
    position: relative;
    text-align: center;
    color: var(--tx-focus-hover);
  }

  .card-title {
    font-family: var(--font1);
    font-weight: 600;
    font-size: 1.3rem;
  }

  .card-title a {
    text-decoration: none;
    color: #000;
  }

  .card-footer {
    background: var(--bg-focus-footer-username);
    color: var(--tx-focus-footer);

    .card-footer__info {
      font-size: 1rem;
      font-weight: 300;
      position: relative;
    }
  }

  .username {
    font-weight: 600;
  }

  .username-text {
    text-decoration: none;
    position: relative;
    color: var(--tx-focus-footer);
  }
}
