<div>
  <!-- <img class="card-img-top mt-2" src="../../../../assets/fff.jpg" alt="" /> -->
  <div class="card-body">
    <h3 class="card-title">
      <a [routerLink]="['/posts/detail/', post.id]">{{ post?.title }} </a>
    </h3>
    <div class="card-subtitle"><strong>Posted by: </strong>{{ post?.user?.username }}</div>
    <p class="card-text">
      {{ post?.body }}
    </p>
    <div class="row actions-section">
      <div class="col-xs-12 col-md-6">
        <!--   <button mat-raised-button type="button" color="warn" (click)="delete(post.id)">Delete</button> -->
      </div>
    </div>
  </div>
</div>
