<div class="col">
  <div class="card shadow-sm h-100">
    <div class="card-image">
      <div class="hover-text">
        <!-- <img src="https://picsum.photos/400/300" class="card-img-top" alt="..." /> -->
      </div>
      <div class="image-overlay"></div>
    </div>
    <div class="card-body">
      <h3 class="card-title">
        <a [routerLink]="['/posts/detail/', post.id]">{{ post?.title }} </a>
      </h3>
      <p class="card-text">{{ post?.body }}</p>
    </div>
    <div class="card-footer py-3">
      <div class="card-footer__info">
        <span>posted by </span>
        <span class="username">{{ post?.user?.username }} </span>
      </div>
    </div>
  </div>
</div>
