<div class="container">
  <div class="row g-5">
    <div class="col-md-8">
      <!--   <h2 class="card-header">Latest Posts</h2> -->
      <ng-container *ngIf="autocompleteItems$ | async as autocompleteItems">
        <div class="search-container">
          <app-search
            [items]="autocompleteItems"
            (searched)="onSearchChange($event)"
            (filtered)="onFilteredChange($event)"
            (selected)="onItemSelect($event)"
          ></app-search>
        </div>
      </ng-container>
      <div *ngIf="posts$ | async as posts" id="posts" class="row">
        <ng-container *ngFor="let post of posts">
          <app-post-item class="item mt-4 ms-4 me-4 card" [post]="post"></app-post-item>
        </ng-container>
      </div>
    </div>
  </div>
</div>
