:root {
  /* GENERAL FONT */
  --font1: "Titillium Web", sans-serif;
  --font2: "Roboto", sans-serif;
  /* GENERAL COLOR */
  --bg-col-1: #0059b3;
  --bg-col-2: #dc3545;
  --bg-col-3: #fff;
  --bg-col-4: #024c96;
  --tx-color-1: #fff;
  --tx-color-2: #000;
  --tx-color-3: #0059b3;
  // FOCUS START
  /* READ MORE COLOR */
  --tx-rm-color-1: #fff;
  --bg-rm-color-1: #fff;
  /* TAG BOTTOM-RIGHT COLOR */
  /* FOOTER CARD COLOR */
  --bg-ft-col-1: #0059b3;
  --tx-ft-color-1: #fff;
  // focus section
  --tx-focus-section-title: #212529;
  --bg-focus-section: aliceblue;
  --bg-focus-card-overlay: rgba(0, 89, 179, 0.5);
  --tx-focus-hover: #fff;
  --tx-focus-font-weight: 400;
  --tx-focus-tag-color-1: #fff;
  --bg-focus-tag-color-1: #0059b3;
  --bg-focus-cat: #0059b3;
  --tx-focus-cat: #fff;
  --bg-focus-footer: #0059b3;
  --bg-focus-footer-username: grey;
  --tx-focus-footer: #fff;
  --bg-focus-card: #fff;
  --tx-focus-card: #000;
  //button arrow & archive
  --tx-button: #fff;
  --bg-button: #0059b3;
}
